<ion-view title="Today">
  <ion-content class="padding" style="background-color:#F8F4EB">
    <img src="img/amp-top.png" style="width: 100%;"></img>
    <div class="row">
      <img src="img/amp-side.png" alt="" style="max-height:85%; position:absolute; left:0; margin-top:-10px; margin-left:3px; background-color:#B54526">
      <div class="row" style="margin-top:-10px; background-color:#B54526" >
        <div class="column" style="">
          <ion-list class="">
            <ion-item ng-repeat="lesson in lessons" style="margin: 10px 18px 10px 0; width:160%; text-align:left; color:#F1BB30;" type="item-text-wrap" href="#/tab/guardian/{{lesson.id}}">
              <h2 class="white">{{lesson.name}}</h2> <h3 class="white">{{ lesson.time | date:'short' }}</h3>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <img src="img/amp-side.png" alt="" style="max-height:85%; position:absolute; right:0; margin-top:-10px; margin-right:3px; background-color:#B54526">
    </div>
  </ion-content>
</ion-view>