<ion-view title="Report - {{lesson.name}} - {{lesson.instrument}}" style="background-color:#F1BB30;">
  <ion-content class="padding">
    <div class="card" style="background-color:#F1BB30;">
      <div class="item" style="background-color:#F1BB30;">
        <div ng-repeat="(k,v) in report" >
          <h3>{{k}}</h3>
          <div class="row">
            <div class="col text-center" style="background-color:#F1BB30;">
              <span ng-repeat="i in getStarArray(5,v) track by $index" ng-click="report[k] = $index+1">
                <img src="img/{{getStarClass(i, v)}}" alt="" style="width:2em">
              </span>
            </div>
          </div>
          <hr style="{{$last?'display:none;':''}}">
        </div>
      </div>
      <a href="#submit" class="button button-block button-assertive">Submit Lesson &amp; Report</a>
    </div>
  </ion-content>
</ion-view>