<ionic-view title="Guardian present?">
	<ionic-content class="padding" style="background-color:#F8F4EB">
		<div class="row">
			<div class="col text-center">
				<img src="img/guardianpresent.png" alt="Is there a guardian present?" style="max-width:90%; margin-top:2em">
			</div>
		</div>
		<div class="row" style="position:absolute; bottom:5em">
			<div class="col-50 text-center"><p></p><a href="#/tab/home"><img src="img/no.png" alt="NO" style="max-width:60%"></a></div>
			<div class="col-50 text-center"><p></p><a href="#/tab/lesson/{{lesson.id}}"><img src="img/yes.png" alt="YES" style="max-width:60%"></a></div>
		</div>
	</ionic-content>
</ionic-view>